@model ProjetoPeritagem.ViewHelper.ViewHelperPeritagem
@{
    ViewData["Title"] = "AlterarNorma";
}


<h2 id="titulo-form">Alterar Norma</h2>
<div id="main">
    <div id="formulario">
        <form action="@Url.Action("GravarAlteracao","Norma")" method="post">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="none">Nome</label>
                    <input type="text" class="form-control" id="nome" name="Nome" value="@Model.norma.Nome">
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea class="form-control-file" id="descricao" name="Descricao">@Model.norma.Descricao</textarea>
            </div>
            <input type="hidden" class="form-control" id="nome" name="ID_Norma" value="@Model.norma.Id">
            <div class="form-group">
                <input type="submit" class="btn btn-primary mb-2" value="Gravar" />
            </div>
        </form>
    </div>
</div>
